<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Verify Your Account</title>
</head>

<body>
  <main style="display: flex; justify-content: center;">
    <div style="font-family: Helvetica,Arial,sans-serif;max-width:700px;overflow:auto;line-height:2">
      <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
          <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Clinica</a>
        </div>
        <p style="font-size:1.1em">Hi,{{name}}</p>
        <h3>
          Thank you for choosing Your Clinic.
        </h3>
        <p style="font-size: 12px; color: gray; line-height: 16px;">
            Welcome to Your Clinic! To complete the creation of your account, please verify your email address by using the One-Time Password (OTP) provided below. This OTP is valid for the next 5 minutes.</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{otp}}</h2>
        <p style="font-size:0.9em;">Regards,<br />Clinica      </p>
        <hr style="border:none;border-top:1px solid #eee" />
      </div>
    </div>
  </main>
</body>
</html>